<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>缴费单销账流水日志</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{../ui/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{../ui/css/style.css}" />
    <link rel="stylesheet" th:href="@{../ui/css/form_mobile.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../ui/css/table.css}"/>
</head>

<body>
<div class="iconBox">
    <div class="iconfont glyphiconSearch_mob"></div>
</div>
<div class="searchBox">
    <form class="formBox layui-form" id="form" th:object="${data}">
        <div class="form_box line_4">
            <div class="layui-inline">
                <label class="layui-form-label">渠道日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="capDate" id="capDate" th:value="*{capDate}"  class="layui-input">
                </div>
            </div>
        </div>
        <div class="form_box line_4">
            <div class="layui-inline">
                <label class="layui-form-label">渠道流水号</label>
                <div class="layui-input-inline">
                    <input type="text" name="capTransactionno" id="capTransactionno" th:value="*{capTransactionno}"  class="layui-input">
                </div>
            </div>
        </div>
    </form>

    <button class="layui-btn layui-btn-normal layui-btn-sm" id="query" onclick="query()">查询</button>
</div>
    <div id="table_box" lay-filter="table_box">
        <!--表格盒子-->
    </div>
<!--<div id="laypages"></div>-->


<script th:src="@{../ui/jquery/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/jquery/jquery-ui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/js/commons.js}"></script>
<script th:src="@{../ui/js/Ui_table.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../ui/js/newForm.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
function query(){
		$('#form').submit();
}
    var table=null;
    layui.use('table', function(){
        table = layui.table;
        table.render({
            elem: '#table_box',
            url:'../ykwm/tracelogData?capDate='+$("#capDate").val()+'&capTransactionno='+$("#capTransactionno").val(),
            isSortBox:true,
            
            editor:false,
            cellMinWidth:170,
            cols: [
                [
                    {field:'capDate', title:'渠道日期'},
                    {field:'capTransactionno', title:'渠道流水号'},
                    {field:'teCheckNum', title:'查询流水号'},
                    {field:'userCardNoT', title:'用户卡号'},
                    {field:'pyFeeAmtT', title:'缴费金额'},
                    {field:'userDbtAmtT', title:'用户欠费金额'},
                    {field:'coResult', title:'核心记账状态',toolbar:'#coResultParameter'},
                    {field:'coDate', title:'核心日期'},
                    {field:'coTransactionno', title:'核心流水号'},
                    {field:'coRspcode', title:'核心反馈响应码'},
                    {field:'coRspcode', title:'核心返回响应信息'},
                    {field:'pyResult', title:'热力记账状态',toolbar:'#pyResultParameter'},
                    {field:'pyDate', title:'热力记账日期'},
                    {field:'pyTransactionno', title:'热力记账流水'},
                    {field:'pyRspcode', title:'热力记账错误码'},
                    {field:'pyErrorMsg', title:'热力记账错误信息'},
                    {field:'capResult', title:'对账状态',toolbar:'#capResultParameter'},

                ]
            ],
            page: true


        });

    });

</script>
<script type="text/html" id="coResultParameter">
    {{#if(d.coResult==0){}}
    <span>成功</span>
    {{#}else if(d.coResult==1){}}
    <span>冲正成功</span>
    {{#}else if(d.coResult==2){}}
    <span>冲正失败</span>
    {{#}else if(d.coResult==3){}}
    <span>冲正超时</span>
    {{#}else if(d.coResult==4){}}
    <span>超时</span>
    {{#}}}
</script>
<script type="text/html" id="pyResultParameter">
    {{#if(d.pyResult==0){}}
    <span>登记</span>
    {{#}else if(d.pyResult==1){}}
    <span>超时</span>
    {{#}else if(d.pyResult==2){}}
    <span>处理成功</span>
    {{#}else if(d.pyResult==3){}}
    <span>处理失败</span>
    {{#}else if(d.pyResult==4){}}
    <span>冲正成功</span>
    {{#}else if(d.pyResult==5){}}
    <span>冲正超时</span>
    {{#}}}
</script>
<script type="text/html" id="capResultParameter">
    {{#if(d.capResult==1){}}
    <span>未对账</span>
    {{#}else if(d.capResult==2){}}
    <span>已对账</span>
    {{#}else if(d.capResult==3){}}
    <span>核心多</span>
    {{#}else if(d.capResult==4){}}
    <span>渠道多</span>
    {{#}}}
</script>
</body>

</html>
